*.sbt
forcomp/project 
funsets/project 
objsets/project 
patmat/project 
recfun/project
funsets/target 
objsets/target 
patmat/target 
recfun/target
forcomp/scalastyle 
funsets/scalastyle
objsets/scalastyle 
patmat/scalastyle 
recfun/scalastyle
funsets/target 
objsets/target 
patmat/target
recfun/target
